/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 6
   Case Problem 4

   Schedule Table Style Sheet
   Author: Aspen and Bethany
   Date:   11/29/18

   Filename:         hcc_schedule.css
   Supporting Files: 

*/
table, table td, table th {
	border: 5px solid black;
	border-collapse: separate;
}